&__wrap {
  display: flex;
  align-items: center;
}
&__list {
  display: flex;
  align-items: center;
}
&__item:nth-child(1) {
  margin-left: 93px;
}
&__item:nth-child(n + 2) {
  margin-left: 50px;
}
&__nav {
  display: flex;
  align-items: center;
}
