.subscription {
  margin-left: 93px;

  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    color: $secondary-title-color;
  }
}

.subscription__input {
  display: inline-block;
  margin-top: 20px;

  min-width: 358px;
  height: 50px;

  padding-left: 16px;

  background-color: $footer-hero-color-bcg;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: $input-text-color;

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;

    color: rgba(255, 255, 255, 0.6);
  }
}

.button {
  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    margin-left: 10px;
  }
}
